@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton:wght@400;600&display=swap');

.App {
  display: flex;
  flex-direction: column;
  width: 99vw;
  height: 100vh;
}

.AppHeader {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 10px double rgba(242, 226, 4, 0.91);
}

.headertitle {
  font-family: 'Playfair Display', serif;
  color: rgb(41, 42, 3);
}

.PageContent {
  background-color: rgba(246, 255, 0, 0.442);
}